<!doctype html>
<html>
<head>
    <title>Chat App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script>var myid = <%=myidf %>;</script>
    <script>var f1id = <%=fiidf %>;</script>
	<script>var fimage ='<%=fimagef%>'</script>


    <script src="/javascripts/client.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <div class="base_view ">
        <div class="title">
            <%=frendName %> さん <a href="/logout"><i class="fa fa-sign-out" style="float:right;color:white" aria-hidden="true"></a></i>
        </div>
        <div id="area" class="contents scroll">
			

        </div>
    </div>
        <div class="form-group" >
					<div class="text-danger" id="error" style="color:red;"></div>

           <table>
		   <tr id="imageArea"></tr>
                <tr>
					<td style="width:0.5%;">
						<input id="imageFiles" type="file" style="display:none" name="imageFiles"/>
						<a href="" id="upload-link"> <i class="fa fa-image" style="font-size: 43px;color: #b1b5c1;margin-top:-1rem;"></i></a>
						<input id="" name="image" type="hidden" class="imageData" />
					</td>
					<td style="width:0.5%;">
						
						<a href="" data-toggle="modal" data-target="#stampModalLong" onclick="getStamps()"> 	<i class="fa fa-smile-o"style="font-size: 43px;color: #b1b5c1;margin-top:-1rem;"></i></a>
						
					</td>
                    <td>
                        <input id="inp" type="text" name="name" class="newMessage form-control" autocomplete="nope" >
                    </td>
					
                    <td width=80px>
						<button type="submit" class="btn" onclick="pushMessage()" >送信</button>
                    </td>
                </tr>
            </table>

        </div>
		<div class="modal fade" id="stampModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-body">
			   <table class="table text-nowrap stampTable" style="text-align: center;">
			   </table>
			 </div>
		 </div>
  </div>
</div>
</body>
</html>